doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    ul
      li 
        a(href="/myshows") My Shows
      li
        a(href="/newshows") New Shows
      li
        a(href="/shows") All Shows  
      li
          a(href=url) Authenticate

    block content
